*{
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: lust-script,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;

  /* font-family: lust-script-display,sans-serif;
  font-weight: 400;
  font-style: normal; */

  /* Bold */
  /* font-family: proxima-nova,sans-serif;
  font-weight: 700;
  font-style: normal; */

  /* Regular */
  /* font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal; */

  /* Thin */
  font-family: proxima-nova,sans-serif;
  font-weight: 100;
  font-style: normal;

  background-image: repeating-linear-gradient(90deg, #CCCCD9, #50758C);
  background-attachment: fixed;
  z-index: 0;

}

.loader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(-90deg, #CCCCD9, #F2F0F0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 300px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

.loading {
  color: white;
  text-shadow: 1.5px -1.5px 3px #B8B8C4;
  text-transform: uppercase;
  letter-spacing: 9px;
  position: absolute;
  transform: translateY(-13px);
  animation: flicker 2s infinite;
}

@keyframes flicker {
  0%   {
    opacity:1; }
  50%  {
    opacity:0; }
  100% {
     opacity:1; }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

a, ul, li {
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.header {
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 4.8%;
}

nav {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9em;
    display: flex;
    align-items: right;
    justify-content: center;
}


.left-links {
  width: 10%;
  height: auto;
  font-weight: 100;
  text-transform: uppercase;
  transform: translateX(-120%);
  display: flex;
  align-items: flex-end;
}


@keyframes animateRight {
  0% {
    opacity: 0%;
    transform: translateY(-300%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}


.social-links {
  letter-spacing: .2rem;
  white-space: nowrap;
  width: 20%;
  height: auto;
  margin-top: 20%;
}

.social-links a {
  animation: animateRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.social-links a:nth-child(1) {
  animation-name: animateDown;
  animation-timing-function: ease-in-out;
}

.social-links a:nth-child(2) {
  animation-name: animateDown;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
}

.q-logo {
  display: flex;
  position: absolute;
  width: 10%;
  height: 10%;
  justify-content: center;
  top: 5%;
  left: 5%;
}

#q {
  font-family: lust-script,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  transition-timing-function: ease;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

#q:hover {
  font-weight: 500;
  -webkit-text-fill-color: white;
  opacity: 1;
  -webkit-transition: fill 8s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.middle-pic {
  mix-blend-mode: overlay;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.about-me-container {
  margin: 200px;
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

.about-bg-text {
  position: absolute;
  font-size: 20vw;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.05;
  letter-spacing: 20px;
  position: absolute;
  bottom: 40%;
  pointer-events: none;
}

.first-name {
  font-size: 5vw;
  font-family: lust-script,sans-serif;
  position: absolute;
  left: -20%;
  z-index: 2;
  mix-blend-mode: overlay;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.last-name {
  font-size: 6vw;
  font-family: lust-script,sans-serif;
  position: absolute;
  z-index: 2;
  margin-top: 50%;
  margin-left: 20%;
  mix-blend-mode: overlay;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.left-side {
  position: relative;
  text-align: center;
  width: 50%;
  height: auto;
}

.right-side {
  width: 50%;
}

#prof-pic {
  width: 50%;
  height: auto;
  transition: transform .3s, filter 1s ease-in-out;
  filter: grayscale(80%);
  transform: perspective(0rem);
  transform: rotate(0deg);
}

#prof-pic:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  transform: skew(-.5deg, -.9deg);
}

.bio {
  display: flex;
  flex-direction: column;
}

#first, #second {
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  line-height: 2;
  margin-right: 15%;
  font-size: 1vw;
}

#first a, #second a {
  transition: underline 0.5s ease-in-out;
  text-decoration: underline;
  color: #0D0000;
}

#first {
  margin-bottom: 2%;
}

/* #first a:hover {
  background: #aaa url(lucidity.png);
} */


.dots-item {
  padding: 20px;
}

.dots {
  justify-content: center;
  display: flex;
  flex-direction: column;
  float: right;

}

.dots a {
  border-radius: 100%;
  border: 1px solid #fff;
  padding: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5rem;
  width: 12px;
  height: 12px;
}
.works-header {
  font-family: lust-script,sans-serif;
  font-weight: 400;
  font-size: 20em;
  font-size: 15vw;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
  position: absolute;

}
.works-container {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 4%;
  align-items: center;
}

.works-list {
  align-items: center;
  padding: 40px;
  text-align: center;
  justify-content: center;
  float: right;
  display: flex;
  position: relative;
}

li {
  animation-name: animateDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;
}

li:nth-of-type(1) {
  animation-name: animateDown;
  animation-timing-function: ease-in-out;
}
li:nth-of-type(2) {
  animation-delay: .2s;
}
li:nth-of-type(3) {
  animation-delay: .3s;
}

@keyframes animateDown {
  0% {
    opacity: 0%;
    transform: translateY(-900%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.works img {
  width: 100%;
  height: auto;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-20%);
    transition-timing-function: ease;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.parent-1 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
}

.parent-2 {
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-name: slidein;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.parent-3 {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-name: slidein;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.parent-4{
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-name: slidein;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.parent-5{
  animation-duration: 3s;
  animation-delay: 2s;
  animation-name: slidein;
  animation-fill-mode: both;
  animation-direction: alternate;
}

.content {
  display: flex;
  direction: row;
  overflow: hidden;
}

#bg-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15vw;
  position: absolute;
  mix-blend-mode: screen;
  padding: 0;
  margin: 2% 15% 15% 15% ;
  opacity: 0.05;
  pointer-events: none;
}

#contact-header {
  margin-right: 40px;
}

.contact-container {
  padding: 10%;
  margin-right: 25%;
  margin-left: 25%;
  display: flex;
}

.header-text {
  float: left;
  font-size: 1.5em;
  width: 50%;
}

.contact-form {
  height: 100%;
  width: 100%;
}


input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid white;
  margin-top: 6px;
  resize: vertical;
  font-family: proxima-nova,sans-serif;
  font-weight: 100;
  font-style: normal;
  border-radius: 2px;
  background: transparent;
  color: white;
  font-size: 15px;
}

input::placeholder, textarea::placeholder {
  color: white;
}

button {
  border: 1px solid white;
  font-family: proxima-nova,sans-serif;
  font-weight: 100;
  font-style: normal;
  resize: vertical;
  background: linear-gradient(-90deg, #6E90A6, #50758C);
  color: white;
  border-radius: 2px;
  font-size: 1em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 73.5%;
}

button:hover {
  transition: color .5s ease-in-out;
  color: #6E90A6;
}

.parent-1, .parent-2, .parent-3, .parent-4, .parent-5 {
  position: relative;
}
.over-img-0 {
  position: absolute;
  top: -76%;
  left: 35%;
  transform: scale(0.015);
}

.over-img-1 {
  position: absolute;
  top: -23.5%;
  left: 39%;
  transform: scale(0.02);
}
.over-img-2 {
  position: absolute;
  top: -24.5%;
  left: 39%;
  transform: scale(0.02);
}

.over-img-3 {
  position: absolute;
  top: -7%;
  left: 39%;
  transform: scale(0.02);
}

.over-img-4 {
  position: absolute;
  top: -6%;
  left: 39%;
  transform: scale(0.02);
}

.over-img-5 {
  position: absolute;
  top: -24.5%;
  left: 39%;
  transform: scale(0.02);
}

.over-img-6 {
  position: absolute;
  top: -6.3%;
  left: 35%;
  transform: scale(0.02);
}

.works-header {
  opacity: 0.2;
  margin-left: 16%;
}

.contacts-menu {
  float: right;
  display: inline-block;
  border-left: solid;
  border-width: thin;
}

dt {
  font-size: 1.3em;
  font-weight: 400;
}

dl {
  line-height: 30px;
  margin: 62px 0 0 30px;
}

.email-address {
  margin-bottom: 30%;
}

footer {
  text-transform: uppercase;
  letter-spacing: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  color: white;
  text-align: center;
  mix-blend-mode: soft-light;
}
